<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">COLEGIO_ISMALEJ</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="estudiante" class="nav-link">Estudiante</a>
      </li>
      
      <li class="nav-item">
        <a routerLink="addEstudiante" class="nav-link">Agregar Estudiante</a>
      </li>

      <li class="nav-item">
        <a routerLink="maestro" class="nav-link">Maestro</a>
      </li>
      <li class="nav-item">
        <a routerLink="addMaestro" class="nav-link">Agregar Maestro</a>
      </li>
      

      <li class="nav-item">
        <a routerLink="conserje" class="nav-link">Conserje</a>
      </li>
      <li class="nav-item">
        <a routerLink="addConserje" class="nav-link">Agregar Conserje</a>
      </li>


    </div>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>



