<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by nombre"
          [(ngModel)]="nombre"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="searchNombre()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Estudiante List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let estudiante of estudiante; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveEstudiante(estudiante, i)"
        >
          {{ estudiante.nombre }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllEstudiante()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentEstudiante">
        <h4>Estudiante</h4>
        <div>
          <label><strong>Nombre:</strong></label> {{ currentEstudiante.nombre }}
        </div>
        <div>
          <label><strong>Apellido:</strong></label>
          {{ currentEstudiante.apellido }}
        </div>
        <div>
            <label><strong>Direccion:</strong></label>
            {{ currentEstudiante.direccion }}
          </div>
          <div>
          <label><strong>Telefono:</strong></label>
          {{ currentEstudiante.telefono }}
        </div>
  
        <a class="badge badge-warning" routerLink="/estudiante/{{ currentEstudiante.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentEstudiante">
        <br />
        <p>Please click on a Estudiante...</p>
      </div>
    </div>
  </div>
