<div>
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="nombre"
            required
            [(ngModel)]="maestro.nombre"
            name="nombre"
          />
        </div>
  
        <div class="form-group">
          <label for="direccion">Direccion</label>
          <input
            class="form-control"
            id="direccion"
            required
            [(ngModel)]="maestro.direccion"
            name="direccion"
          />
        </div>

        <div class="form-group">
            <label for="telefono">Telefono</label>
            <input
              class="form-control"
              id="telefono"
              required
              [(ngModel)]="maestro.telefono"
              name="telefono"
            />
          </div>


        <button (click)="saveMaestro()" class="btn btn-success">Submit</button>
      </div>
  
      <div *ngIf="submitted">
        <h4>Maestro was submitted successfully!</h4>
        <button class="btn btn-success" (click)="newMaestro()">Add</button>
      </div>
    </div>
  </div>